.container {
  min-width: $desktop-width;
  max-width: 1170px;
  margin: 0 auto;

  @media (max-width: $tablet-width-only) {
    min-width: $tablet-width;
    max-width: $tablet-width-only;
  }

  @media (max-width: $mobile-width-only) {
    min-width: $mobile-width;
    max-width: $mobile-width-only;
  }
}
