.feedback {
  min-height: 455px;
  background: url("../img/feedback-bg.jpg") no-repeat;
  background-position: 14% 0;
  display: grid;
  grid-template-columns: 520px 1fr;
  grid-template-rows: 53px auto;

  @media (max-width: $tablet-width-only) {
   padding-top: 70px;
   display: block;
  }

  @media (max-width: $mobile-width-only) {
    background: none;
    padding: 0;
  }
}

.feedback__wrapper {
  max-width: 656px;
  max-height: 315px;
  padding: 50px 36px;
  background-color: $white;
  box-shadow: 0px 4px 30px $gray-blue-10;
  border-radius: 5px;
  grid-row: 2/4;
  grid-column: 3;

  @media (max-width: $tablet-width-only) {
    margin: 0 auto;
  }

  @media (max-width: $mobile-width-only) {
    max-width: 100%;
    max-height: auto;
    padding: 50px 0;
  }

}

.feedback__title {
  font-size: 25px;
  font-weight: 600;
  line-height: 32px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 12px;

  @media (max-width: $mobile-width-only) {
    max-width: 100%;
    max-height: auto;
    margin-bottom: 20px;
  }
}

