.footer {
  display: flex;
  padding-left: 14px;

  @media (max-width: $tablet-width-only) {
    flex-wrap: wrap;
    justify-content: center;
  }
}


.footer__contacts {
  margin-right: 92px;
  @media (max-width: $mobile-width-only) {
    margin: 0;
  }
}
