.main-nav {
  display: flex;
  align-items: center;
  padding: 25px 0 20px 0;

  @media (max-width: $tablet-width-only) {
    padding: 18px 0 9px 20px;

    &--closed .main-nav__toggle::before {
      content: "";
      position: absolute;
      top: 35%;
      left: 50%;
      transform: translateX(-50%);
      width: 22.5px;
      height: 1px;
      background-color: $white;
      box-shadow: 0 6px 0 0 $white, 0 12px 0 0 $white;
    }

    &--opened .main-nav__toggle {
      position: absolute;
      background-color: $white;
      top: 0;
      right: 0;
      z-index: 20;

      &::before,
      &::after {
        content: "";
        position: absolute;
        top: 45%;
        left: 30%;
        width: 22.5px;
        height: 1px;
        background-color: $dark;
      }

      &::before {
        transform: rotate(45deg);
      }

      &::after {
        transform: rotate(-45deg);
      }
    }

    &--nojs .main-nav__toggle {
      display: none;
    }
  }

  @media (max-width: $mobile-width-only) {
    padding-left: 15px;
  }
}


.main-nav__logo {
  margin-right: auto;

  @media (max-width: $tablet-width-only) {

    display: flex;
    align-self: center;
    width: 100%;
  }
}

.main-nav__site-list {
  margin-right: 94px;

  @media (max-width: $tablet-width-only) {
    margin: 0;
  }
}

.main-nav__logo-link {
  @media (max-width: $tablet-width-only) {
    margin-right: auto;
  }
}

.main-nav__toggle {
  display: none;
  cursor: pointer;

  @media (max-width: $tablet-width-only) {
    display: block;
    width: 72px;
    height: 50px;
    background-color: $orange;
    border: none;
    position: absolute;
    right: 0;
    top: 0;
  }

  @media (max-width: $mobile-width-only) {
    width: 50px;
    height: 50px;
  }
}

.main-nav__logo-img {
  width: 44px;
  height: 17px;
}
