.modal-success {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100vh;
  z-index: 100;

  &--show {
    display: block;
  }
}

.modal-success__wrapper {
  position: relative;
  width: 728px;
  height: 444px;
  background-color: $beige;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-success__text {
  font-size: 25px;
  font-weight: 500;
  color: $tuna;
  line-height: 32.5px;
  max-width: 399px;
  margin: 0 auto;
  text-align: center;
  margin-top: 130px;
}

.modal-success__close {
  @include modal-close;
  right: 10px;

  &::before,
  &::after {
    top: 10px;
    left: 0;
  }
}
