.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100vh;

  &--show {
    display: block;
    animation: bounce 0.6s;
  }


  @keyframes bounce {
    0% {
      transform: translateY(-2000px);
    }

    70% {
      transform: translateY(30px);
    }

    90% {
      transform: translateY(-10px);
    }

    100% {
      transform: translateY(0);
    }
  }
}

.modal__wrapper {
  width: 728px;
  height: 444px;
  background: $white url("../img/modal-bg.png") no-repeat;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal__form {
  background-color: $beige;
  width: 399px;
  height: 447px;
  margin-left: 338px;
  text-align: center;
  padding: 100px 0;
  position: relative;
}

.modal__form-fieldset {
  border: none;
}

.modal__form-legend {
  font-size: 25px;
  font-weight: 600;
  line-height: 42.5px;
  color: $tuna;
  margin-bottom: 50px;
  position: relative;

  &::before {
    position: absolute;
    content: "*";
    font-size: 18px;
    color: $orange;
    top: 92px;
    left: -50px;
  }
}

.modal__form-input {
  @include input;
  margin-bottom: 20px;
}

.modal__btn {
  padding: 19px 40px;
}

.modal__close {
  @include modal-close;

  &::before,
  &::after {
    top: 10px;
  }
}
