.phone {
  padding-right: 15px;
  display: flex;
  align-items: center;



  @media (max-width: $tablet-width-only) {
    display: none;
  }
}

.phone__link {
  font-size: 18px;
  line-height: 32px;
  color: $dark;
  text-decoration: underline;
  display: flex;
  align-items: center;

  &:hover {
    color: $orange-two;
  }
}

.phone__icon {
  stroke: $dark;
}
