.places__title {
  font-size: 55px;
  line-height: 80px;
  letter-spacing: -1.25px;
  font-weight: 600;
  max-width: 350px;
  position: relative;
  margin-bottom: 64px;

  &::after {
    position: absolute;
    content: "";
    background-color: $orange;
    width: 228px;
    height: 4px;
    left: 0;
    bottom: -32px;
  }

  @media (max-width: $tablet-width-only) {
    font-size: 30px;
    letter-spacing: normal;
    line-height: 45px;
    max-width: 300px;
    margin: 0 auto;
    margin-bottom: 22px;

    &::after {
      content: none;
    }
  }

  @media (max-width: $mobile-width-only) {
    font-size: 24px;
    line-height: 36px;
    text-align: center;
  }
}

.places__text {
  max-width: 328px;
  line-height: 28px;
  letter-spacing: -0.47px;
  margin-bottom: 55px;

  @media (max-width: $tablet-width-only) {
    text-align: center;
    margin: 0 auto;
    max-width: 343px;
    margin-bottom: 39px;
  }

  @media (max-width: $mobile-width-only) {
    margin-bottom: 18px;
  }
}

.places__card {
  margin-bottom: 75px;

  @media (max-width: $mobile-width-only) {
    margin-bottom: 20px;
  }
}
