.price-rate {
  display: flex;
  list-style: none;
  padding: 0;

  @media (max-width: $tablet-width-only) {
    padding: 0 73px;
    margin: 0 auto;
  }

  @media (max-width: $mobile-width-only) {
    flex-wrap: wrap;
    padding: 0;
    max-width: 288px;
  }
}
