.price__wrapper {
  display: flex;
  flex-direction: row-reverse;

  @media (max-width: $tablet-width-only)  {
    flex-direction: column;
  }
}

.price__description {
  padding-left: 110px;
  padding-top: 85px;

  @media (max-width: $tablet-width-only)  {
    padding: 0;
    margin: 0 auto;
  }
}

.price__title {
  font-weight: 600;
  font-size: 55px;
  line-height: 90px;
  position: relative;
  margin-bottom: 47px;

  &::after {
    position: absolute;
    content: "";
    background-color: $orange;
    width: 175px;
    height: 3px;
    left: 0;
    bottom: -17px;
  }

  @media (max-width: $tablet-width-only) {
    font-size: 30px;
    line-height: 45px;
    text-align: center;
    margin-bottom: 20px;

    &::after {
      content: none;
    }
  }

  @media (max-width: $mobile-width-only) {
    font-size: 24px;
    line-height: 36px;
  }
}

.price__description-text {
  line-height: 27px;
  color: $gray-70;
  margin-bottom: 60px;

  @media (max-width: $tablet-width-only) {
    text-align: center;
    max-width: 726px;
    margin-bottom: 33px;
  }

  @media (max-width: $mobile-width-only) {
    max-width: 288px;
    margin-bottom: 19px;
  }
}

.price__description-phone {
  @media (max-width: $tablet-width-only) {
   margin: 0 auto;
   max-width: 220px;
   text-align: center;
   margin-bottom: 30px;
  }

  @media (max-width: $mobile-width-only) {
    margin-bottom: 40px;
  }
}

.price__description-title {
  font-weight: 500;
  font-size: 22px;
  line-height: 34px;
  margin-left: 47px;
  margin-bottom: 12px;

  @media (max-width: $tablet-width-only) {
   margin: 0;
   font-size: 18px;
   margin-bottom: 10px;
  }

}

.price__description-link {
  color: $black;
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
  margin-left: 47px;

  @media (max-width: $tablet-width-only) {
    font-size: 18px;
    font-weight: 400;
    margin: 0;
    color: $orange;
  }
}
