.promo-offer {
  max-width: 412px;

  @media (max-width: $tablet-width-only) {
    max-width: 400px;
    text-align: center;
  }
}

.promo-offer__title {
  color: $white;
  font-weight: 600;
  font-size: 55px;
  letter-spacing: -1.1px;
  line-height: 80px;
  margin: 0;
  margin-bottom: 30px;

  @media (max-width: $tablet-width-only) {
   font-size: 30px;
   line-height: 45px;
   letter-spacing: normal;
   margin-bottom: 15px;
  }

  @media (max-width: $mobile-width-only) {
    font-size: 24px;
    line-height: 36px;
    margin: 0 auto;
    margin-bottom: 100px;
    max-width: 288px;
  }
}

.promo-offer__text {
  color: $white;
  line-height: 27px;
  letter-spacing: -0.47px;
  max-width: 375px;
  margin: 0;
  margin-bottom: 58px;

  @media (max-width: $tablet-width-only) {
    text-align: center;
    max-width: 400px;
    margin-bottom: 22px;
  }

  @media (max-width: $mobile-width-only) {
    color: $dark;
    line-height: 27px;
    margin-bottom: 33px;
  }
}

.promo-offer__link {
  padding: 30px 178px 30px 40px;

  @media (max-width: $tablet-width-only) {
    padding: 19px 107px 19px 40px;
    text-align: center;
  }

  @media (max-width: $mobile-width-only) {
    padding-right: 145px;
  }
}
