.site-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}

@media (max-width: $tablet-width-only) {
  .main-nav--closed .site-list {
    display: none;
  }

  .main-nav--nojs .site-list {
    display: block;
  }

  .site-list {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    flex-direction: column;
    width: 100%;
    height: 568px;
    background-color: $white;
  }
}

.site-list__item:first-child {
  margin-right: 40px;
}

@media (max-width: $tablet-width-only) {
  .site-list__item {
    background-color: $beige;
    padding: 17px 10px;
    width: 100%;
    margin-bottom: 30px;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 25px;
      right: 10%;
      width: 12px;
      height: 12px;
      border: 3px solid $gray-50;
      border-bottom: transparent;
      border-left: transparent;
      transform: rotate(45deg);
    }

    &:first-child {
      margin-top: 135px;
    }
  }
}

.site-list__link {
  font-size: 14px;
  line-height: 17px;
  font-weight: 500;
  color: $dark;

  &:hover {
    color: $orange-two;
  }

  @media (max-width: $tablet-width-only) {
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
  }
}
