$white: #ffffff;
$black: #000000;
$dark-blue: #2c2e3f;
$dark-blue-20: rgba(20, 21, 23, 0.2);
$dark-blue-50: rgba(20, 21, 23, 0.5);
$dark-blue-60: rgba(20, 21, 23, 0.6);
$dark-blue-70: rgba(20, 21, 23, 0.7);
$dark: #141517;
$light-blue: #86afdb;
$orange: #fe7865;
$orange-two: #f17b4b;
$gray-70: rgba(44, 46, 63, 0.7);
$gray-30: rgba(44, 46, 63, 0.3);
$gray-50: rgba(44, 46, 63, 0.5);
$gray-blue-10: rgba(41, 54, 66, 0.1);
$gray-two: #d7d9df;
$beige: #fbf8f8;
$tuna: #48494d;

$mobile-width: 320px;
$mobile-width-only: 767px;
$tablet-width: 768px;
$tablet-width-only: 1023px;
$desktop-width: 1024px;
