// global
@import "global/variables.scss";
@import "global/fonts.scss";
@import "global/global.scss";
@import "global/mixin.scss";

// blocks

@import "blocks/page-main.scss";
@import "blocks/container.scss";
@import "blocks/main-nav.scss";
@import "blocks/site-list.scss";
@import "blocks/phone.scss";
@import "blocks/promo.scss";
@import "blocks/promo-offer.scss";
@import "blocks/places.scss";
@import "blocks/card-list.scss";
@import "blocks/tabs.scss";
@import "blocks/triggers-list.scss";
@import "blocks/country.scss";
@import "blocks/review.scss";
@import "blocks/author.scss";
@import "blocks/price.scss";
@import "blocks/price-rate.scss";
@import "blocks/rate.scss";
@import "blocks/feedback.scss";
@import "blocks/btn.scss";
@import "blocks/form.scss";
@import "blocks/footer.scss";
@import "blocks/next-tour.scss";
@import "blocks/tour-list.scss";
@import "blocks/contacts.scss";
@import "blocks/contacts-list.scss";
@import "blocks/corp-tour.scss";
@import "blocks/modal.scss";
@import "blocks/modal-success.scss";


